.icons{
  margin: 0 auto;
}
.icons .fab{
  font-size: 1.3rem;
}

.icons .fab:hover{
  color: #437fdc;
  animation: rotate 2s ease-out;
}

.icons > li:hover .fab{
}

.fa-angle-down{
  position: absolute;
  top: 1.1rem;
  right: -15px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  float: right;
}

.fa-dumbbell{
  font-size: 5em;
  color: black;
  padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 250px;
    max-width: 180px;
  &:hover{
    animation: bounce 3s forwards;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0,0);
  }
  20% {
    transform: translate(0,20px);
  }
  40% {
    transform: translate(0,-20px);
  }
  60% {
    transform: translate(0,20px);
  }
  80% {
    transform: translate(0,-20px);
  }
  100% {
    transform: translate(0px,0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50%{
    color: crimson;
  }
100% {
    transform: rotate(360deg);
  }
}