body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

///Typical screen widths to support: 1600px, 1024px, 960px, 768px, 640px, 480px, 320px./

@media screen and (min-width: 1446px) and (max-width: 1599px) {
    --width-img: 40%;
    --margin-img: 2em 2em;
  
}

@media screen and (min-width: 1024px) and (max-width: 1445px) {
  :root{
    --width-img: 70%;
    --margin-img: 2em auto;
  }
}