:root{
  --font-size-lv1: 12px;
  --font-size-lv2: 1.3em;
  --font-size-lv3: 15px;
  --font-size-lv4: 16px;

  --font-size-h1: 3em;
  --font-size-posts: 1.4em;

  --menu-block: flex;
  --menu-justify-content: space-between;

  --menu-margin-large-scr: 0.25em 0.6em;
  --menu-standart-margin: 1.2em 9.5em 0em 0;

  --width-img: 30%;
  --margin-img: 1em;
}