.trainings{
  display: block;
  color: #333333;
  margin: 10rem 5rem 10rem 5rem;
}

.trainings{
  section{
    display: block;
    line-height: 1.2rem;
    clear: both;
    z-index: 111;
  }
  section:not(:first-child){
    margin: 6rem 0 0 0;
  }
  h2{
    text-decoration: #ba0000;
    text-decoration-line: underline;
    line-height: 4rem;
    display: block;
  }
  h3{
    text-decoration: #686868;
    text-decoration-line: underline;
    line-height: 3rem;
    padding: 2rem 0;
    text-align: left;
  }


  img {
    float: right;
    width: 50%;
    margin: 0 0 0 10rem;
    border-radius: 10px;
    border: none;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.2;
    }
  }

  & section:nth-child(2) {
    img{
      float: left;
      width: 50%;
      margin: 0 10rem 0 0;
      border-radius: 10px;
      border: none;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.2;
      }
    }
  }
  & section:nth-child(2){
    img:nth-last-child(3) {
      float: right;
      width: 50%;
      margin: 0 0rem 0 10rem;
      border-radius: 10px;
      border: none;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.2;
      }
    }
  }
}
.training-list {
  text-align: left;
  padding-left: 1rem;
  li{
    text-align: left;
    font-style: italic;
    list-style-type: disc;
    .fas{
      padding-right: 1rem;
    }
  }
}

#warning{
  margin-top: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ba0000;
}
