<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
    <title>My Gym blog</title>
    <script src="{{ site.baseurl }}/script/script.js"></script>
</head>
<body>
<header>
    <div class="info">
        <ul class="head-info">
            <li><a href="#">4600 International Gateway, Columbus, OH 43219, USA</a></li>
            <li><a href="#">+1 (321) 654-0789</a></li>
            <li><a href="#">ruslan.sagitov93@gmail.com</a></li>
            <li>Mon - Sat: 9am - 6pm</li>
        </ul>
    </div>
    <div class="title">
        <!--<img id="main-logo" class="fas fa-dumbbell"></i>src="/images/gym.jfif"/>-->
        <a href="{{ site.baseurl }}/index.html"><i class="fas fa-dumbbell"></i></a>
        <a href="{{ site.baseurl }}/index.html" id="title">Pro Gym</a>
    </div>
    <div class="navigation">
        <ul class="main-nav">
            <li><a href="{{ site.baseurl }}/index.html">home</a></li>
            <li><a href="{{ site.baseurl }}/pages/articles.html">articles</a></li>
            <li><a href="{{ site.baseurl }}/pages/gallery.html">gallery</a></li>
            <li><a href="{{ site.baseurl }}/pages/prices.html">prices</a></li>
            <li><a href="{{ site.baseurl }}/pages/about.html"><i class="fas fa-angle-down"></i>about</a>
                <!--<&#45;&#45;!-->
            <!--<li><a href="{{ site.baseurl }}/index.html">home</a></li>-->
            <!--<li><a href="../pages/articles.html">articles</a></li>-->
            <!--<li><a href="../pages/gallery.html">gallery</a></li>-->
            <!--<li><a href="../pages/prices.html">prices</a></li>-->
            <!--<li><a href="../pages/about.html"><i class="fas fa-angle-down"></i>about</a>-->
                <ul>
                    <li><a href="{{ site.baseurl }}/pages/contact-us.html">contact</a></li>
                </ul>
            </li>
        </ul>
        <ul class="icons">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fab fa-wordpress-simple"></i></a></li>
        </ul>
    </div>
</header>
<main class=".main">
    {{ content }}
</main>
<hr class="footer-hr">
<footer>
    <section>
        <article>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </article>
    </section>
    <section>
        <article>
            <ul>
                <li><a href="#">Trainings</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </article>
    </section>
    <section>
        <article>
            <div>
                <p>SIGN UP TO RECEIVE NEWS AND SPECIAL OFFERS FROM PRO GYM.</p>
                <input type="email" placeholder="Your Email Address">
            </div>
                <button class="subscribe" onclick="emailChecker()">Subscribe</button>
        </article>
    </section>
</footer>
</body>
</html>
